<%-include("Header") %>

<div class="container">
  <h2>Register</h2>

  <div class="register">
    <form action="/register" method="POST">
      <div class="mb-1">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
         name="username"
          type="email"
          class="form-control p-2 ml-2"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
           name="password"
          type="password"
          class="form-control p-2 ml-2"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
<div  class="container mb-5">
  <section style="color: white">
    <center>
      <h1>Get a chance to work with tech Giants</h1>
    </center>
    <i style="font-size: 90px" class="logos fab fa-google"></i>
    <i style="font-size: 90px" class="logos fab fa-instagram-square"></i>
    <i style="font-size: 90px" class="logos fab fa-ups"></i>
    <i style="font-size: 90px" class="logos fab fa-facebook-square"></i>
    <i style="font-size: 90px" class="logos fab fa-linkedin"></i>
    <i style="font-size: 90px" class="logos fab fa-amazon"></i>
    <i style="font-size: 90px" class="logos fab fa-spotify"></i>
    <i style="font-size: 90px" class="logos fab fa-apple"></i>
  </section>
</div>

<%-include("Footer") %>
